 <div class="row">
    <div class="box container">
            <div class="col-lg-12" style="padding: 45px;">
                <hr>
                <h2 class="intro-text text-center">About
                    <strong>INFORM</strong>
                </h2>
                <hr>
                <p style="text-align: justify;">INFORM provides a collaborative framework for ongoing communication and research into the cause, diagnosis, and management of inborn errors of fatty acid oxidation. Join us at this year's 2017 symposium being held in Rio de Janeiro, Brazil, and hear from the experts on a wide range of topics from molecular pathophysiology to treatment strategies. </p>
                <p style="text-align:center;"><img src="../images/conference.png" alt="Placeholder image"></p>
            </div>
    </div>
</div>
