<script>var sample = "{{invData}}";</script>
<script src="../js/mybank.js"></script>
<div class = "box">
<div class="container">
  <div class="text-center">
  <h1>My Bank</h1>
</div>
    <div style="padding: 10px;">
        <br>
        <table id="investigators_table" data-search="true" data-show-columns="true" data-pagination="true" >
            <thead>
                <tr>
                    <th data-field="_idLink" data-sortable="true" width="200">Sample ID</th>
                    <th data-field="diagnosis" data-sortable="true">Diagnosis</th>
                    <th data-field="phenotypeMultiple" data-sortable="true">Phenotype</th>
                    <th data-field="sampleType" data-sortable="true">Sample Type</th>
                    <th data-field="icon" align="Center" class="text-center"><a href="../sample/addSample"><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> </a></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</div>
